VITE_SUPABASE_URL=https://mxmpwwinrkxyegfnvsxy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im14bXB3d2lucmt4eWVnZm52c3h5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDE3OTE1NjMsImV4cCI6MjA1NzM2NzU2M30.9ugdrqrEqxx3cHzPHGp0sSjYKpkoNNGNL4vOCodUXXg